<?php
/**@var \Magento\Framework\View\Element\Template $block */
?>
<p><?=$block->getUrl('layout/index/layoutresponse') ?></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolores harum laborum modi molestiae molestias provident quas totam, vitae voluptate!</p>

