<?php

/**
 * @var \Course\StoreLocator\Block\DisplayStore $block
 */
$info = $block->getInfo();
echo "<span style='font-weight: bold'>Store adress: </span>".$info['address'];
echo "<br>";
echo "<br>";
echo "<ul>";
echo "<li>";
echo 'Open time: '.$info['open_time'];
echo "</li>";
echo "<li>";
echo 'Close time: '.$info['close_time'];
echo "</li>";
echo "</ul>";
echo "<h4>Description:</h4></br>";
echo $info['desc'];
